body{
  background: #bff2d5;
  position: absolute;
}
#classic{
  height: 32em;
  width: 77em;
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
  0 0  0 2px rgb(255,255,255),
  0.3em 0.3em 1em 
  rgba(0,0,0,0.3);
  background: #fff;
  margin-top: 55px;
  margin-left:55px;
  text-align: center;
  position: relative;
}
#show-table{
  padding: 30px;
  margin-top: 1rem;

}
#show-table header{
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 0em;
  font-weight: bold;
  color: #0d2336;
}
#show-table p{
  font-family: verdena;
  font-size: 15px;
  color: #0d2336;

}
#show-table label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-right: 230px;
  padding-bottom: 20px;

}

#classic select{
  padding: 10px 5px 10px 5px;
  border:none;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 30%;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 20px;
  background-color: lightgrey;

}
#message{
  padding: 10px 10px 100px 10px;
  border:none;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 30%;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 20px;
  background-color: lightgrey;

}
#classic .action-button {
  width: 15em;
  font-weight: bold;
  border: 1px solid #0d2336;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  overflow: hidden;
}
#classic section:not(:first-of-type) {
  display: none;
}
#classic .action-button:hover, #classic .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #0d2336;
  border-radius: 20px;
}
#progressbar {
  margin-bottom: 0px;
  overflow: hidden;
  counter-reset: step;
  float: center;
}
#progressbar li {
  list-style-type: circle;
  display: inline-block;
  color:aquamarine;
  text-transform: uppercase;
  font-size: 20px;
  width: 5%;
  position: relative;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background-color: lightgrey;
  border-radius: 100px;
  margin: 0 auto 5px auto;
}
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #0d2336;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none; 
}
#progressbar li.active:before,  #progressbar li.active:after{
  background: #0d2336;
  color: lightgrey;
}
#button_show_hide{
  padding: 0%;
  background-color: aquamarine;
  font-size: 1.5rem;
  border-radius: 25px;
  border-style: outset 2px red;
}
.name-container p{
  display: inline-block;
  width: 15.5%;
}
#next-table .name-container label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-right: 70px;
}
.name-container input[type=text]{
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
  border-radius: 3px;
  border:none;
  width: 90%;
}
#next-table label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-right: 270px;
  padding-bottom: 20px;
}
#next-table input[type=email]{
  padding: 10px 5px 10px 5px;
  border:none;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 30%;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 20px;
  background-color: lightgrey;
}
#next-table input[type=telephone]{
  padding: 10px 5px 10px 5px;
  border:none;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 30%;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 20px;
  background-color: lightgrey;
}